*{
    margin: 0;
}
body{
    font-family: 'Balsamiq Sans', cursive; 
}


/* For Navbar */
.navbar{
    margin: 0;
    background-color:darkturquoise;
    height: 150px;
    color: white;
}
.navbar-content{
    padding-top: 55px;

}
.name{
    display: inline;
    font-size: 3rem;
    padding-left:90px;
}

ul{
    float: right;
    color: white;
}
a{
    text-decoration: none;

}
li{
    padding: 40px;
    list-style: none;
    display: inline;
    font-size: 2rem;
}

ul a:hover{
    color: red;
}



/* For Homepage */
.home_content{
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.image{
    border: 3px solid red;
    margin: 10px;
    border-radius: 100%;
}


/* Common between about,contact,blog section */
.about,.contact,.blog{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.introducton > p{
    margin-top: 25px;
    color: grey;
}
.heading{
    font-size: 4rem;
}
.content > p{
    margin-top: 25px;
    color: grey;
}



/* For Contact Section  */
.contact-form{
    margin-top: 50px;
}
.fullName{
    width: 100%;
}
.fullName > input{
    width: 38%;
}
input[name="mobile_num"] {
    width: 80%;
}
input{
    text-align: center;
    font-size: 1.5rem;
    font-family:'Balsamiq Sans', cursive;
    height: 40px;
    margin: 20px;
}
.labels{
    font-size: 1.7rem;
    text-align: left;
}
button{
    width: 40%;
    border: 2px solid red;
    outline: none;
    background-color: white;
}
button > a {
    text-decoration: none;
    font-family:'Balsamiq Sans', cursive;
    font-size: 2rem;
    color: red;
}
button:hover{
    background-color: red;
    border: none;
    transition: 0.7s;
}
button:hover > a{
    color: white;
}


/* For Blogs Section */
.blogs{
    text-align: center;
    margin: 50px auto;
    width: 90%;
}
.card{
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 20%;
}

.card a{
    color: red;
}
.blog-image{
    width: 300px;
    height: 300px;
    border-radius: 40%;
}

.blog-image:hover{
    border-radius: 20%;
    transition: 0.5s;
}
.title{
    margin-top: 15px;
    font-size: 1.5rem;
}



