*{
    margin: 0;
}
body{
    font-family: 'Balsamiq Sans', cursive; 
}


/* For Navbar */
.navbar{
    margin: 0;
    background-color:darkturquoise;
    height: 150px;
    color: white;
}
.navbar-content{
    padding-top: 55px;

}
.name{
    display: inline;
    font-size: 3rem;
    padding-left:90px;
}

ul{
    float: right;
    color: white;
}
a{
    text-decoration: none;

}
li{
    padding: 40px;
    list-style: none;
    display: inline;
    font-size: 2rem;
}

ul a:hover{
    color: red;
}



/* For Homepage */
.home_content{
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.image{
    border: 3px solid red;
    margin: 10px;
    border-radius: 100%;
}


/* Common between about,contact,projects section */
.about,.contact,.projects{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.introducton > p{
    margin-top: 25px;
    color: grey;
}
.heading{
    font-size: 4rem;
}
.content > p{
    margin-top: 25px;
    color: grey;
}



/* For Contact Section  */
.contact-form{
    margin-top: 50px;
}

input{
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    font-family:'Balsamiq Sans', cursive;
    height: 40px;
    margin: 10px 10px 40px 10px;
}


textarea{
    text-align: center;
    width: 80%;
    height: 200px;
    font-size: 1.5rem;
    font-family:'Balsamiq Sans', cursive;
}

.labels{
    font-size: 1.7rem;
}

button{
    font-family:'Balsamiq Sans', cursive;
    font-size: 1.5rem;
    color: red;
    width: 40%;
    border: 2px solid red;
    outline: none;
    background-color: white;
}
button:hover{
    background-color: red;
    border: none;
    transition: 0.7s;
    color: white;
}


/* For Projects Section */
.project-cards{
    text-align: center;
    margin: 50px auto;
}
.card{
    width: 350px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%;
}

.card a{
    color: red;
}
.project-image{
    /* object-fit: cover; */
    border: 1px solid black;
    width: 330px;
    height: 300px;
    border-radius: 30%;

}

.project-image:hover{
    border-radius: 10%;
    transition: 0.5s;
}
.title{
    margin-top: 15px;
    font-size: 1.5rem;
}
.project-info{
    margin: auto;
    width: 90%;
}



/* About Section */
.about-contact-link{
    color: black;
    text-decoration: underline;
}