body{
    /* background-color: #171717; */
}

button{
    outline: none;
    border: 1px solid red;
    margin-left: 5px;
    background-color: white;
    border-radius: 20px;
}

.todo-app{
    /* color: #EDEDED; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-input > input{
    width: 300px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todo-buttons > button{
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories{
    margin-top: 30px;
    display: flex;
}

.categories > div {
    margin: 0 20px;
    font-size: 1.5rem;
}

.todo{
    display: flex;
    margin-top: 10px;
}

.todo > li {
    font-size: 2rem;
    margin-right: 20px;
}

.todo > button {
    font-size: 1.3rem;
}

.remove{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


button:hover{
    color: white;
    background-color: red;
}