* {
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    background-color: coral;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.search{
    margin: 50px;
}
.nav-link > a {
    text-decoration: none;
    color: white;
    margin: 50px;
}