.input{
    margin: 15px;
    background-color: white;
    border: 2px solid green;
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.input:focus{
    border-color: green;
}

table,tr,td,th{
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    text-align: center;
}

td,th{
    width: 60px;
    height: 30px;
}

td:nth-child(1){
    color: green;
}

td:nth-child(6){
    color: green;
}

.calendar_div{
    height: 240px;
}

.btn{
    height: 50px;
    margin: 10px 30px;
    outline: none;
    border: 1px solid green;
    background-color: white;
    font-size: 1.5rem;
    width: 150px;
    color: green;
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s;
}

.btn:hover{
    background-color: green;
    color: white;
    border: 1px solid white;
}
.diabled{
    color: grey;
}


td:hover{
    background-color: green;
    color: white;
}

td[empty]:hover{
    background-color: white;
}
