.list-wrapper{
    width: 90%;
    margin: auto;
}

.list-item{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    margin: 10px;
}

.poke-link{
    color: black;
    text-decoration: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons > button {
    border: 2px solid red;
    color: red;
    outline: none;
    background-color: white;
    font-size: 1.3rem;
    height: 30px;
}