.timeInput{
    display: flex;
}
.input{
    margin: 15px;
    background-color: white;
    border: 2px solid green;
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.input:focus{
    border-color: green;
}