.footer{
    margin-top: 100px;
    width: 100%;
    min-height: 100px;
    background-color: darkturquoise;

}
.contact-handles{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.last-note{
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
    font-size: 20px;
}

