
.note{

    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
}

.note.new-note{
    background-color: #67d7cc;
}

.new-note textarea{
    background-color: #67d7cc;
    border: none;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

}
.new-note textarea:focus{
    outline: none;
}

.save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;    
}

.save:hover{
    background-color: #ededed;
    cursor: pointer;
}

.delete-icon:hover{
    cursor: pointer;
}

.search{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.search input{
    border: none;
    background-color: rgb(233,233,233);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

}

.search input:focus{
    outline: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode{
    background-color: black;

}

.dark-mode h1{
    color: white;
}

.sun-icon{
    color: white;
    cursor: pointer;

}
.moon-icon{
    cursor: pointer;
}

.categories{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.category{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.category-input{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid red;
}

.category-input:focus{
    outline: none;
}

.note-input{
    min-width: 100%;
}

.category-select{
    background-color: #67d7cc;
    border: 1px solid white;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.category-select:focus{
    outline: none;
}