table,tr,td,th{
    font-family: 'Kanit', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    text-align: center;
}

td,th{
    width: 60px;
    height: 30px;
}

td:nth-child(1){
    color: green;
}

td:nth-child(6){
    color: green;
}

.calendarComponent{
    height: 240px;
}

td:hover{
    background-color: green;
    color: white;
}

td[empty="true"]:hover{
    background-color: white;
}